.bookmarkicon {
	width: 85%;
}

.bookmarkicon:hover {
}
	

.bookmarkContainer {
	text-align: center;
}

.bookmarkfolder {
	text-align: center;
}

.bookmarkname {
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
    white-space: nowrap;
}

/*drag and drop bullshit*/

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.bookmarkContainer.over {
  background: gray;
}

.bookmarkfolder.over {
  background: gray;
}

#metaBookmarkContainer {
    /*height: 1000px;*/
}

body { margin-left: 40px;
       margin-top: 50px;
       background-color: #B1E5FF;
}

div { padding-top: 15px; 
}
input {margin: 4px;
}

h1 { font-family: Raleway;
}